/*
    Algunos elementos se comparten con el menú
*/

#floatWindow,
#floatingMenu
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(71, 155, 91, 0.35);
    width: 100vw;
    height: 100vh;
}

#window
{
    width: 40%;
    min-width: 20rem;
    max-width: 40rem;

    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#menu
{
    width: 30%;
    min-width: 20rem;
    max-width: 30rem;
    
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#window,
#menu
{
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--green);
    display: block;
    height: auto;
    border: solid 3px var(--green);
    border-radius: 10px;
}

.openWin
{
    animation: openWindow 200ms linear 1;
}

@keyframes openWindow
{
    0%
    {
        transform: translate(-50%, -10%);
        top: 10%;
        opacity: 0;
    }
    70%
    {
        transform: translate(-50%, -40%);
        top: 40%;
        opacity: 0.7;
    }
    100%
    {
        transform: translate(-50%, -35%);
        top: 35%;
        opacity: 1;
    }
}

.closeWin
{
    animation: closeWindow 100ms linear 1;
}

@keyframes closeWindow
{
    0%
    {
        transform: translate(-50%, -35%);
        top: 35%;
        opacity: 1;
    }
    100%
    {
        transform: translate(-50%, -10%);
        top: 10%;
        opacity: 0;
    }
}

.openBg
{
    animation: openBackground 100ms linear 1;
}

@keyframes openBackground
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.closeBg
{
    animation: closeBackground 100ms linear 1;
}

@keyframes closeBackground
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

#windowTitle,
#menu h1
{
    margin: 0;
    padding: 0 0 0.7rem 0;
    color: white;
    word-wrap: break-word;
}

#windowText
{
    margin: 0;
    padding: 0 0 0.7rem 0;
    word-wrap: break-word;
    line-height: 1.5rem;
    color: white;
}

#windowInput
{
    margin: 0 0 0.7rem 0;
}

#windowInput input
{
    width: 100%;
    text-align: center;
    border: 2px solid var(--green-hover);
    border-radius: 10px;
    padding: 0.3rem;
    background-color: var(--green-hover);
    color: white;
    font-size: 1rem;
}

#windowInput input:focus,
#windowInput input:hover
{
    border-color: white;
    outline: none;
}

#windowButtons
{
    text-align: right;
}

#windowButtons button
{
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.windowButtonPrincipal
{
    transition: all ease 100ms;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    color: var(--green);
}

.windowButtonSecondary
{
    transition: all ease 100ms;
    border-radius: 10px;
    border: 2px solid var(--green-hover);
    background-color: var(--green-hover);
    color: white;
}

.windowButtonPrincipal:hover,
.windowButtonSecondary:hover,
.windowButtonPrincipal:focus,
.windowButtonSecondary:focus
{
    transition: all ease 100ms;
    background-color: var(--green-hover);
    border-color: white;
    color: white;
    outline: none;
}



#closeMenuButton
{
    float: right;
    padding: 0.3rem;
    margin: 0.3rem;
    color: white;
    background-color: var(--green-hover);
    border: 2px solid var(--green-hover);
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--rubik);
    transition: all ease 100ms;
}

#menuButtons
{
    text-align: center;
    max-height: 80vh;
}

#menuButtons button
{
    width: 90%;
    margin: 0.3rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: var(--rubik);
    color: white;
    background-color: var(--green-hover);
    border: 2px solid var(--green-hover);
    border-radius: 10px;
    transition: all ease 100ms;
}

#menuButtons button:hover,
#menuButtons button:focus,
#closeMenuButton:hover,
#closeMenuButton:focus
{
    border-color: white;
    transition: all ease 100ms;
    outline: none;
}