/*=====================================================
====================GENERAL============================
=======================================================*/

html
{
    --green: #07671C;
    --green-hover: #055717;
    --green-win-bg: rgba(5, 87, 23, 0.35);
    --bg-color: #000;
    --font-color: #EDEDED;
    --gray: #222222;
    --rubik: 'Rubik', sans-serif;
}

body
{
    font-family: var(--rubik);
    color: var(--font-color);
    margin: 0;
    background-color: var(--bg-color);
}

#allContainer
{
    margin: 0;
    display: flex;
}

button:hover
{
    cursor: pointer;
}

#loadingScreen:hover
{
    cursor: wait;
}

textarea::-moz-selection,
input::-moz-selection
{ /* Code for Firefox */
    color: white;
    background: var(--green);
}

textarea::selection,
input::selection
{
    color: white;
    background: var(--green);
}

#loadingIcon
{
    height: 4rem;
    animation-name: loadingIconSpin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loadingIconSpin
{
    from
    {
        transform:rotate(0deg);
    }
    to
    {
        transform:rotate(360deg);
    }
}


/*=====================================================
====================ALGUNAS CLASES=====================
=======================================================*/
.red
{
    color: red;
}

.hidden
{
    /*Elementos con el display cambiado por algún motivo no se ocultan.*/
    display: none;
}

.justified
{
    text-align: justify;
}
